:root {
  --bgcolor: #111111;
  --canvas-bgcolor: #222222;
  --basetextcolor: #ffffff;
  --subtextcolor: #888888;
  --border: 2px solid rgba(255, 255, 255, 0.1);
  --border-radius: 10px;
  --accentcolor: #666666;
  --input-bgcolor: #222222;
  --input-border: 1px solid rgba(255, 255, 255, 0.2);
  --input-placeholder-color: #666666;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --button-bgcolor: var(--accentcolor);
  --button-textcolor: var(--bgcolor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  padding: 1px;
  border-radius: 10px;
  border: 5px solid black;
}
